:root {
    --black: #151515;
    --dark-gray: #242424;
    --light-gray: #D9D9D9;
    --white: #FFFFFF;
    --green: #4EE1A0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html, body {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--white);
    background-color: var(--black);
}

header, footer {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1110px;
    margin: 39px 165px 92px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.hero h1 {
    font-size: 88px;
    line-height: 88px;
    font-weight: 700;
    max-width: 709px;
}

.hero p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(--light-gray);
    max-width: 445px;
    margin-top: 43px;
}

.hero p:last-child span{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.2px;
    margin-top: 23px;
    padding-bottom: 7px;
}

.hero #name {
    display: inline-block;
    border-bottom: 7px solid var(--green);
}

.hero #contact {
    display: inline-block;
    border-bottom: 2px solid var(--green);
}

.experience {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 140px;
    border-top: 1px solid var(--white);
}

.experience {
    margin-top: 72px;
}

.projects {
    margin-bottom: 140px;
}

.projects-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 140px;
}