/*
1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
*/

/* Variables */
:root { 
    --white: #FFFFFF;
    --violet: #7541C8;
    --gray: #48556A;
    --light-gray: #CFCFCF;
    --dark-blue: #19212E;
    --light-blue: #ECF2F8;

}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Default */
body, html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--light-blue);
}

.testimonials {
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 48px 100px 0px rgba(17, 12, 42, .15);
    padding: 30px;
    margin-bottom: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.card-header h3 {
    font-size: 15px;
}

.card-header p {
    opacity: 50%;
}

.card-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--violet);
    margin-right: 10px;
}

.card-title {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}

.card-description {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 70%;
}

.card-daniel {
    background-color: var(--violet);
    color: var(--white);
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
}

.card-jonathan {
    background-color: var(--gray);
    color: var(--white);
}

.card-patrick {
    background-color: var(--dark-blue);
    color: var(--white);
}




/* Mobile Design */
@media only screen and (max-width: 375px) {

}
